<p>Witaj,{{user}}</p>
<p>
  Dziekujemy za zrobienie zakupów w naszym sklepie.
</p>
<p>
  Będziemy mailowo informować o zmianie statusu zamówienia
</p>

<br>
<br>
<p>Pozdrawiamy</p>
<p>Herbaciany Zakątek</p>

