<p>Witaj,{{user}}</p>
<p>
  Podobno zapomniałeś hasła. Jeśli to nie pomyłka wejdź w poniższy link, aby zresetować swoje hasło.
</p>

<a href={{forgotPasswordUrl}}><h2>Kliknij aby zrestartoeać hasło</h2></a>
<br>
<br>
<p>Pozdrawiamy</p>
<p>Herbaciany Zakątek</p>

